
.main-check, .optional-check{
    display: flex;
    // grid-template-columns: repeat(2,1fr);
    // justify-content: center;
    align-items: center;
    padding-left: 50px;
    position: relative;
    bottom: 50px;
    justify-content: center;
}

.column-one-del{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}